
<div fxLayout="row" 
     [ngClass]="{'dark-theme': isDarkTheme}" 
     class="mat-app-background" 
     style="height: 100%;"
     fxLayoutAlign="center center"
    >
   <div fxFlex="50">
     <mat-card  class="card" 
                fxLayout="column" 
                fxLayoutAlign="space-between " 
              >
       <div fxFlex="5" >
              <span class="example-spacer"></span>
              <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="storeThemeSelection()">
                    Dark Mode
              </mat-slide-toggle>
       </div>
       <form fxFlex="90" 
             fxLayout="Column" 
             (ngSubmit)="onSubmit(f)" #f="ngForm"
            >
             <div fxFlex="20" fxLayout="row"  
                              fxLayout.xs="column"
                              fxFlayout.sm="column"
                              fxLayoutAlign="space-around center"
                            >
                  <div fxFlex="40"  fxLayoutAlign="end" >
                      <mat-form-field  color="accent" appearance="legacy">
                          <mat-label >First Name</mat-label>
                          <input matInput 
                               [(ngModel)]="firstName"
                                 name="firstName"
                                 required>
                      </mat-form-field>
                  </div>
                  <div fxFlex="40" >
                      <mat-form-field  color="accent" appearance="legacy">
                          <mat-label >Last Name</mat-label>
                          <input matInput 
                                [(ngModel)]="lastName"
                                 name="lastName"
                                 required>
                      </mat-form-field>
                   </div> 
              </div>
              <div fxFlex="20" fxLayout="row"  
                              fxLayout.xs="column"
                              fxFlayout.sm="column"
                              fxLayoutAlign="space-around center"
                            >
                  <div fxFlex="40" fxLayoutAlign="end">
                      <mat-form-field  color="accent" appearance="legacy">
                          <mat-label >Email Address</mat-label>
                          <input matInput 
                                placeholder="pat@example.com"
                                [(ngModel)]="emailAddress"
                                name="email" 
                                required
                                email
                                #email = ngModel>
                          <mat-hint  *ngIf="!email.valid && email.touched!">please enter valid email</mat-hint>
                      </mat-form-field>
                  </div>
                  <div fxFlex="40" >
                      <mat-form-field color="accent" hintLabel="Max 10 characters " appearance="legacy">
                          <mat-label>Mobile Number</mat-label>
                              <input matInput 
                                     #input 
                                     maxlength="10" 
                                     placeholder="Ex.9650245695 "
                                     ngModel
                                     name="mobileNumber">
                              <mat-hint > {{input.value?.length || 0}} /10</mat-hint>
                      </mat-form-field>
                   </div> 
              </div>
              <br>
              <br>
              <div fxFlex="20" fxLayoutAlign="center center">
                <button mat-raised-button 
                        color="accent" 
                        type="submit"
                        [disabled]="!f.valid">Submit</button>
              </div>
              <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
                 <span>your name is {{firstName}} {{lastName}}</span>
   
                 <span>your email address is {{emailAddress}}</span>
              </div>
        
            </form>

     </mat-card>

   </div>
</div>